%ul.groups
  %li.group
    %p.group-name
      グループ名
    %p.last-message
      最後のメッセージ
  %li.group
    %p.group-name
      グループ名
    %p.last-message
      最後のメッセージ
  %li.group
    %p.group-name
      グループ名
    %p.last-message
      最後のメッセージ
