%ul
  %li.message__name
    メンバー名
  %li.message__time
    2018/03/16 20:40:04
  %li.message__body
    内容
%ul
  %li.message__name
    メンバー名
  %li.message__time
    2018/03/16 20:40:04
  %li.message__body
    内容
%ul
  %li.message__name
    メンバー名
  %li.message__time
    2018/03/16 20:40:04
  %li.message__body
    内容
