%ul.messages
  %li.message
    .upper-message
      %p.upper-message__name
        = message.user.name
      %p.upper-message__time
        = I18n.l(message.created_at)
    .lower-message
      - if message.content.present?
        %p.lower-message__body
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
