.message__name
  メンバー名
.message__time
  2018/03/16 20:40:04
.message__body
  内容
.message__name
  メンバー名
.message__time
  2018/03/16 20:40:04
.message__body
  内容
.message__name
  メンバー名
.message__time
  2018/03/16 20:40:04
.message__body
  内容
