.notification {
  .notice {
    background-color: $frame-color;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_color;
    color: $white;
    text-align: center;
  }
}
