.group-header {
  padding: 0 20px;
  background-color: #253141;
  min-height: 100px;
  .user-name {
    line-height: 100px;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    float: left;
  }
  .icons {
    color: $white;
    line-height: 100px;
    margin-left: 10px;
    float: right;
  }
}
.group-body {
  background-color:  #2f3e51;
  height: 650px;
  padding: 0 20px;
  clear: both;
  .group {
    list-style:none;

    .group-name {
      font-size: 15px;
      color: $white;
      padding-top: 20px;
    }
    .last-message {
      font-size: 11px;
      color: $white;
      padding: 5px 0 40px;
    }
  }
}
